.img  {
max-width: 30%;
}

.images  {
display: inline;
margin:0;
padding: 10px;
max-width: 40%;
}

.portfolio {
display: block;
margin: 0px;
position: relative;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}

.bio  {
max-width: 50%;
}


body   {
  text-align:center;
  margin: 0 auto;
  background-color: #F8F8F8;
  line-height: 1.5;

}










*  {
box-sizing: border-box;
}




/*Floated Columns--------------------- */





.profile  {
float: right;
max-width: 40%;

}




.name  {

max-width: 20%;
float: left;
margin-top: 5px;
margin-right: 25px;
margin-bottom: 25px;
}

.nav {
float:right;

}




p {
font-size: 20px;
color: black;

}






.container {
  padding-left: 20px;
  padding-right: 20px;
padding top: 20px;
}



.body  {

}










h1 {
font-size: 30px;
color: #000000;
text-decoration: none;
}





#main-footer  {
border-top: 1px solid grey;

}










/* =================================
  Media Quieries
==================================== */
@media (min-width:768px)  {


}


@media (min-width:1024px)    {


  .main-header  {
  position: left;

  }

  .intro, .nav,
  .main-nav li {

  padding: 10px 25px;
  font-family: 'Roboto',sans-serif;
  }
.main-nav li{
display:block;
position:  relative;
right:50px;
}


.name  {
font-family: 'Roboto',sans-serif;
margin-top: 40px;
margin-left: 10%;
}


  .container  {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;

  }


  .clearfix::after {
    content:"";
    display: table;
    clear: both;

    }

}



@media (min-width:320px)    {
.main-nav li {
background: #FFF;
margin: 12PX;
list-style: none;
font-family: 'Roboto',sans-serif;
position: relative;
top:80px;
right:530px;
  }

.name  {
position: relative;
left: 400px;
}


.container  {
padding-top: 20px;
}

.profile  {
margin-top: 260px;
position: relative;
right: 200px;
}
.bio  {
margin-top: 550px;
position: relative;
left: 300px;
}

}
