*  {
box-sizing: border-box;
}

body   {
  text-align:center;
  margin: 0 auto;
  background-color: #F8F8F8;
  line-height: 1.5;

}


.img  {
max-width: 30%;
}

.images  {
display: inline;
margin:0;
padding: 10px;
max-width: 40%;
}

.portfolio {
display: block;
margin: 0px;
position: relative;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}

.bio  {
max-width: 50%;
}
















/*Floated Columns--------------------- */





.profile  {
float: right;
max-width: 40%;

}





.nav {
float:right;

}




p {
font-size: 20px;
color: black;

}






.container {
  padding-left: 20px;
  padding-right: 20px;
  padding top: 20px;
}














h1 {
font-size: 30px;
color: #000000;
text-decoration: none;
}





#main-footer  {
border-top: 1px solid grey;

}










/* =================================
  Media Quieries
==================================== */
@media (min-width:768px)  {


}


@media (min-width:1024px)    {


  .main-header  {
  position: left;

  }

  .intro, .nav,
  .main-nav li {

  padding: 10px 25px;
  font-family: 'Roboto',sans-serif;
  }
.main-nav li{
display:block;
position:  relative;
right:50px;
}


.name  {
font-family: 'Roboto',sans-serif;
margin-top: 40px;
margin-left: 10%;
}


  .container  {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;

  }


  .clearfix::after {
    content:"";
    display: table;
    clear: both;

    }

}



@media (min-width:320px)    {
.main-nav li {
background: #FFF;
margin: 12PX;
list-style: none;
font-family: 'Roboto',sans-serif;
float: none;
margin-top:8%;
right:385%;
margin-bottom: 10%;

  }

.name  {
float:none;
margin-right: 30px;

}


.container  {
padding-top: 20px
float: none;
top:20px
}


.profile  {

float: none;
margin-left: 20%;
padding-top: 20px;

}
.bio  {
margin-top: 20px;
float: none;
left: 5.9px;
max-width: 800%;
}


.student-name {
position: relative;
right:500px;
font-family: 'Roboto',sans-serif,;
}


.top  {
position:relative;
left: 500px;
font-family: 'Roboto',sans-serif,;
bottom: 30px;
}

}
