
  *  {
  box-sizing: border-box;
  }

.main-nav li {
background: #FFF;
margin:8px 0;
list-style: none;
font-family: 'Roboto',sans-serif;
padding: 0;
  }


.main-nav li a {
display: block;
padding: 10px 15px;

}



.name  {
margin: 0;
}

.container  {
  padding-top: 20px;
  top:20px
}


.profile  {
margin-left: 50px;
max-width: 250px;
}

.bio {
  max-width: 100%;
  margin-left: 50px;
}

body {
  text-align:center;
  margin: 0;
  background-color: #F8F8F8;
  line-height: 1.5;
}

.images {
max-width: 100%;

}



.portfolio {
display: block;
margin: 0px;
position: relative;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}



/*Floated Columns--------------------- */



.nav {

}

p {
font-size: 20px;
color: black;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  padding top: 20px;
}

h1 {
font-size: 30px;
color: #000000;
text-decoration: none;
}

#main-footer  {
border-top: 1px solid grey;

}



.student-name,
.top  {
font-size: 1.2em;
font-family: 'Roboto',sans-serif;

}




.student-name  {
float:left;
}

.top  {
float: right;
}



.t-border {
padding: 0 1em;

}



 .t-border ,clearfix::after {
  content:"";
  display: table;
  clear: both;

  }




/* =================================
  Media Quieries
==================================== */
@media (min-width:768px)  {
.main-nav {
display: inline-block;
}

}


@media (min-width:1024px)    {


  .main-header  {
  position: left;

  }

  .intro, .nav,
  .main-nav li {

  padding: 10px 25px;
  font-family: 'Roboto',sans-serif;
  }
.main-nav li{
display:block;
position:  relative;
right:50px;
}


.name  {
font-family: 'Roboto',sans-serif;
margin-top: 40px;
margin-left: 10%;
}


  .container  {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;

  }


}
